<!DOCTYPE html>
<html lang="en">
  <title>BackPressure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/tachyons.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  
  <body class="pa4"> 
   <h1 class="f1">Kubernetes Services</h1>

    <section class="mw10 mw10-ns center pa3 ph10-ns" >  
        <div class="cf sep-bottom title" :class="hasEndpoints(svc)" >                    
                    <div class="fl w-100 w-20-ns">
                       Name
                    </div>
                    <div class="fl w-100 w-10-ns">
                        Namespace
                    </div>                    
                    <div class="fl w-100 w-10-ns">
                        IP
                    </div>
                    <div class="fl w-100 w-10-ns">
                        Ports
                    </div>
                    <div class="fl w-100 w-30-ns" >
                        Selectors
                    </div>                   
                    <div class="fl w-100 w-10-ns" >
                        Load Test                      
                    </div>                   
                </div> 

        <div id="mylistofsvcs">
            <div v-for="svc in svcs">
                <div class="cf entry" :class="hasEndpoints(svc)" >                    
                    <div class="fl w-100 w-20-ns lead">
                       &nbsp;&nbsp;{{ svc.metadata.name }}
                    </div>
                    <div class="fl w-100 w-10-ns">
                       {{ svc.metadata.namespace }}
                    </div>                    
                    <div class="fl w-100 w-10-ns">
                       {{ svc.spec.clusterIP }}
                    </div>
                    <div class="fl w-100 w-10-ns">
                       <span v-for="port in svc.spec.ports">{{ port.port }} / {{ port.protocol }}</span>
                    </div>
                    <div class="fl w-100 w-30-ns" >                        
                        <span v-for="sel in formatSelector(svc.spec.selector)">{{ sel }}<br></span>                        
                    </div>
                    <div class="fl w-100 w-10-ns">
                       <input class="mr2" type="checkbox" id="Backpressure" value="backpressure" v-on:click="checkedSvcs(svc)">
                        <label for="Backpressure" class="lh-copy">Enable</label>
                    </div>                   
                </div> 
                <div class="cf hidden"  :id="svc.metadata.uid">
                    <div class="fl w-100 w-30-ns">                        
                        
                        <label for="points">Requests per second:</label>
                        <input type="text" value="50">
                        
                    </div>  
                    <div class="fl w-100 w-30-ns">                        
                        <label for="points">Path:</label>
                        <input type="text" value="/">                                            
                    </div>  
                    <div class="fl w-100 w-30-ns">                        
                        <label for="points">Number of Agents:</label>
                        <input type="text" value="5">                                            
                    </div>  
                </div>               
            </div>

        </div>
    </section>


  </body>
  <script src="/assets/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/assets/js/lib/vue-2.3.4.js"></script>
  <script src="/assets/js/lib/underscore.js"></script>
  <script src="/assets/js/k8s.js"></script>
  <script src="/assets/js/app.js"></script>
  
</html>
